<p>employeecrud works!</p>
<button class="btn btn-primary" (click)="fetchEmployees()">fetch data</button>
<hr />

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>first_name</th>
            <th>st_name</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of allEmployees">
            <td>{{ emp.id }}</td>
            <td>{{ emp.first_name }}</td>
            <td>{{ emp.last_name }}</td>
            <td>{{ emp.email }}</td>
            <td>
              <button class="btn btn-primary">Edit</button>&nbsp;
              <button class="btn btn-danger" (click)="deleteEmp(emp.id)">
                DELETE
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-4">
      first Name :
      <input class="form-control" #fname />
      last Name :
      <input class="form-control" #lname />
      email :
      <input class="form-control" #email />
      <button
        class="btn btn-secondary"
        (click)="addEmp(fname.value, lname.value, email.value)"
      >
        Add Emp
      </button>
    </div>
  </div>
</div>
