<p>pipes works!</p>

<h3>{{ name }}</h3>
<h3>{{ name | uppercase }}</h3>
<h3>{{ name | uppercase }}</h3>
<h3>{{ name | titlecase }}</h3>
<h3>{{ mySal }}</h3>
<h3>{{ mySal | currency }}</h3>
<h3>{{ mySal | currency: "INR" }}</h3>
<h3>{{ mySal | currency: "&euro;" }}</h3>
<h3>{{ mySal | currency: "&#x00A5;" }}</h3>
<!-- input pipe pipeName : arg -->
======================================================
<h3>{{ myDOB }}</h3>
<h3>{{ myDOB | date | lowercase }}</h3>
<h3>{{ myDOB | date | uppercase }}</h3>
<h3>{{ myDOB | date: "fullDate" }}</h3>
<h3>{{ myDOB | date: "mediumDate" }}</h3>
<h3>{{ myDOB | date: "shortDate" }}</h3>
<h3>{{ myDOB | date: "fullTime" }}</h3>
<h3>{{ myDOB | date: "mediumTime" }}</h3>
<h3>{{ myDOB | date: "shortTime" }}</h3>
<h3>{{ myDOB | date: "dd/MMM/yyyy" }}</h3>
=========================================================
<h3>{{ 12.638467846 | number: "3.4-6" }}</h3>
<h3>{{ 12.11 | number: "3.4-6" }}</h3>
<h3>{{ 12.1234512345 | number: "3.4-6" }}</h3>
<h3>{{ 0.75 | percent }}</h3>
<h3>{{ 0.2 | percent }}</h3>
========================================================
<h3>{{ user }}</h3>
<h3>{{ user | json }}</h3>
<h3 *ngFor="let entry of user | keyvalue">
  {{ entry.key }}---{{ entry.value }}
</h3>
========================================================
<h3>{{ arr }}</h3>
<h3>{{ arr | slice: 2:5 }}</h3>
<h3>{{ arr | slice: 2:-1 }}</h3>
========================================================<br />
<textarea maxlength="100" cols="30" rows="5" [(ngModel)]="msg"></textarea>
<h3>Remaining: {{ msg | remaining: 100 }}</h3>
<textarea maxlength="200" cols="30" rows="5" [(ngModel)]="msg2"></textarea>
<h3>Remaining: {{ msg2 | remaining: 200 }}</h3>
============================================================= <br />
<span *ngFor="let ele of arr | mySort1">
  <b>{{ ele }}</b
  >, &nbsp;
</span>
<hr />
<input type="number" [(ngModel)]="newDigit" />
<button (click)="arr.push(newDigit)">add new data</button>
