<p>userlist works!</p>
<button (click)="fetchUsers()">fetch Users</button>
<hr />

<img *ngIf="isLoading" src="https://i.gifer.com/7pld.gif" />

<div class="container" *ngIf="!isLoading">
  <div class="row">
    <div class="col-sm-3" *ngFor="let user of users">
      <div class="card">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgDXdqOYhiR16NQx_9JGAjSsVMUMuNaJSRdPzWcEjYIb4xgT6XzXDGAJCDG0e85VZN84Q&usqp=CAU"
          class="card-img-top"
          alt="image not available"
          width="200"
          height="200"
        />
        <div class="card-body">
          <h5 class="card-title">{{ user.name }}</h5>
          <p class="card-text">
            {{ user.email }}
          </p>
          <p class="card-text">Phone: {{ user.phone }}</p>
          <p class="card-text">city: {{ user.address.city }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
