<style>
  button {
    border: none;
  }
  .myClass {
    color: red;
    border: 5px solid green;
  }
</style>
<p [class.myClass]="flag">databinding works!</p>
<button (click)="flag = !flag">toggle flag</button>

<p [style.color]="flag ? 'green' : 'red'">Add a style</p>
<p [style.fontSize.px]="48">Add style with unit</p>

<p>my name is- {{ name }} - a value is {{ obj1.a }}</p>
<p [innerHTML]="name"></p>
1 way: <input value="{{ name }}" /> <br />
2 way: <input [(ngModel)]="name" />
<br />=============================================<br />
<img src="{{ sachin_img }}" /> &nbsp; <img [src]="sachin_img" />&nbsp;
<img bind-src="sachin_img" />
<img src="assets/images/img1.jpg" alt="" />
<br />=============================================<br />
<input value="{{ name }}" />
<input [value]="name" />
<br />=============================================<br />
<button disabled="{{ flag }}" style="color: red">btn-1</button> &nbsp;
<button [disabled]="flag">btn-2</button>
<button bind-disabled="flag">btn-3</button>
<br />=============================================<br />

<button (click)="f1()">click me</button>
<button on-click="f1()">click me</button>
<br />=============================================<br />

number1:
<input #num1 /> <br /><br />
number2:
<input ref-num2 /> <br /><br />
<button (click)="add(num1.value, num2.value)">addition</button>
<br />=============================================<br />
