<div class="parent">
  <p id="para1">I am parent</p>
  <input type="text" #myInputBox />
  <div>My Own data a is {{ a }}</div>
  <div>my child2's b data {{ child2.b }}</div>
  <div>Received data from child {{ bParent }}</div>
  <button (click)="incrementA()">Increment-A</button> <br />
  <span *ngFor="let ele of arr">{{ ele }}, &nbsp;</span>
  <button (click)="arr.push(60)">Push Data</button> <br />
  <br />

  <app-child1 [aChild]="a" [b]="child2.b" [arr]="arr"></app-child1>
  <app-child2 [a]="a" #child2 (myEvent)="getDataFromChild($event)"></app-child2>
</div>
