<div class="center">
  <!-- <p>This is center component</p> -->
  <!-- <app-databinding></app-databinding> -->
  <!-- <app-directives></app-directives> -->
  <!-- <app-products></app-products> -->
  <!-- <app-greet> </app-greet> -->
  <!-- <app-pipes></app-pipes> -->
  <!-- <app-parent></app-parent> -->
  <!-- <app-productlist></app-productlist> -->
  <!-- <app-demo1></app-demo1> -->
  <!-- <app-demo2></app-demo2> -->
  <!-- <app-comments></app-comments> -->
  <!-- <app-userlist></app-userlist> -->
  <app-employeecrud></app-employeecrud>
</div>
