<div class="container">
  <h1 class="text-center">Product List</h1>
  <div class="row">
    <div class="col-sm-8">
      <input
        [(ngModel)]="searchTerm"
        type="search"
        placeholder="Search..."
        class="form-control"
      />
    </div>
    <div class="col-sm-4">
      <button class="btn btn-primary" (click)="sortProducts('asc')">
        Sort Asc</button
      >&nbsp;
      <button class="btn btn-secondary" (click)="sortProducts('desc')">
        Sort Desc
      </button>
    </div>
  </div>
  <div class="row m-2">
    <div
      class="col-sm-3"
      *ngFor="
        let prod of allProducts
          | filter: searchTerm
          | paginate: { itemsPerPage: 4, currentPage: p }
      "
    >
      <div class="card">
        <img
          src="{{ prod.images[0] }}"
          class="card-img-top"
          alt="image not available"
          width="200"
          height="200"
        />
        <div class="card-body">
          <h5 class="card-title">{{ prod.title }}</h5>
          <p class="card-text">
            {{ prod.description }}
          </p>
          <p class="card-text">Price: {{ prod.price }}</p>
          <p class="card-text">Rating: {{ prod.rating }}</p>
        </div>
      </div>
    </div>
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
