<p class="text-center bg-primary text-white">comments works!</p>
<button (click)="fetchComments()">fetch comments</button>

<h1 *ngIf="isLoading">Loading...</h1>
<table class="table table-bordered table-striped" *ngIf="!isLoading">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Body</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let comment of allComments">
      <td>{{ comment.id }}</td>
      <td>{{ comment.name }}</td>
      <td>{{ comment.email }}</td>
      <td>{{ comment.body }}</td>
    </tr>
  </tbody>
</table>
